##Purpose

The goal of this file is to quickly read in raw data from a file, give the user an overview of the contents within, and then convert each column to have the correct datatype (i.e from "$1,234.55" to 1234.55) with minimal manual involvement. This is most suitable for smaller size datasets (< 1million rows).

In [1]:
import pandas as pd
import numpy as np
import re
import os
from multiprocessing import Pool
from datetime import datetime
from sklearn.model_selection import train_test_split

##Reading In/Summarizing Data

###Helper Functions:

1. CatFiles(): Reads in/concatenates atomized data files into a single dataframe
2. NULLChecker(): prompts the user on which columns/rows contain null data
4. TextLook(): Finds unique values for each column by default, or columns you specify in a dataframe
3. InitialDisplay(): shows summary information about the dataframe like datatypes,summary stats, null values, unique values

In [2]:
#Read in/concatenate Files
def CatFiles(wd,files):
    df=pd.DataFrame()
    for file in files: df=pd.concat([df,pd.read_csv(wd+file,sep=',')])
    return df

In [3]:
#returns Null rows
def NullRows(df,res=False):
    df=df[df.isnull().any(axis=1)]
    if len(df)>0:res=df
    return(res)

#check for null values, returns columns where they are or False
def NULLChecker(df,res=False):
    df=df.replace(r'^\s*$', np.nan, regex=True)
    res1=df.isnull().values.any()
    if res1 == True:
        res=df.columns[df.isna().any()].tolist()
        print("These columns have null values:\n",res)   
        val=NullRows(data)
        print("These are",len(val)," null rows:\n",val)

In [9]:
#Find unique values for each column/columns you specify in a dataframe
def TextLook(df,columns=False):
    if columns == False: columns=df.columns
    for column in columns:
        n_elts = len(set(df[column]))
        print(column,":",n_elts,"unique values")

In [21]:
#shows summary info
def InitialDisplay(df,columns=False):
    print("Head:\n",df.head())
    print("\nInfo:")
    print(df.info())
    print("\nDescription:\n",df.describe(),"\n")
    NULLChecker(df)#display null information
    print("\nUnique Values:")
    print(TextLook(df,columns))

##Cleaning Up Dataset

###Helper Functions:

1. Replacer(): Removes special characters from string in numpy array, strips white space
2. DataTypeConverter(): Converts strings to date, float, and int datatypes.
3. DataCleaner(): Converts dataframe to correct datatypes, strips white space/special characaters. Returns converted dataframe.
4. TrainValidateSplit(): Splits dataframe into training/test/final validation datasets.

In [11]:
#replace string in numpy array, strip white space
def Replacer(string):
    try:
        return string.replace('$','').replace('&','').replace('#','').strip()
    except:
        return string

In [12]:
#Converts strings to date, float, int types
def DataTypeConverter(df,date_format):
    try:
        return list(map(float, df)) #try first if float
    except:
        try:
            return list(map(int, df)) #try then if int
        except:
            try: #then try if date
                return list(map(lambda x: pd.to_datetime(x,format=date_format),df))
            except:
                return df

In [28]:
#Converts dataframe to correct datatypes, strips white space/special characaters. Returns converted dataframe
def DataCleaner(df,date_format='%m/%d/%Y'):
    #flag non numeric columns
    non_numbers_columns=df.select_dtypes(exclude=[np.number]).columns.values
    numeric_columns=df.columns[df.columns.isin(non_numbers_columns)==False].values
    print("These columns have non-numeric data:\n",non_numbers_columns,"\n")
    #remove special characters for non-numeric columns
    non_numbers=np.array(list(map(lambda y: list(map(lambda x: Replacer(x),y)),np.array(df[non_numbers_columns]))))
    #converting to appropriate datatypes
    new_df=np.array(list(map(lambda column: DataTypeConverter(non_numbers[:,column],date_format),range(0,non_numbers.shape[1])))).T
    print("This is the new list of converted values:\n",new_df,"\n")
    #combining numeric and non-numeric/converted columns
    new_df = pd.concat([pd.DataFrame(new_df), df[numeric_columns]], axis=1)
    new_df.columns = np.append(non_numbers_columns,numeric_columns)
    print("This is the new converted dataframe:\n",new_df,"\n")
    print('\n',new_df.info())
    return(new_df)

In [14]:
#Split training/test/final_test dataset
def TrainValidateSplit(df,target_value,shuffle=False,ratio=0.2):
    X=df.drop(target_value,axis=1)
    y=df[target_value]
    x_train,x_test,y_train,y_test = train_test_split(X,y,test_size=ratio,shuffle=shuffle)
    x_test,x_test_final,y_test,y_test_final=train_test_split(x_test,y_test,test_size=0.5,shuffle=shuffle)
    return x_train,x_test,x_test_final,y_train,y_test,y_test_final

##Example Dataset

1. Read in data
2. Display Summary Information
3. Clean-Up/Convert to appropriate datatypes
4. Partition training/testing/final validation set

In [35]:
#read in data files
wd=os.getcwd()
companies=['aapl.us.txt','msft.us.txt','amzn.us.txt','goog.us.txt']
data=CatFiles(wd+"/stocks/Stocks/",companies)

In [22]:
#getting summary Information
InitialDisplay(data)

Head:
    quarter stock       date    open    high     low   close     volume  \
0        1    AA   1/7/2011  $15.82  $16.72  $15.78  $16.42  239655616
1        1    AA  1/14/2011  $16.71  $16.71  $15.64  $15.97  242963398
2        1    AA  1/21/2011  $16.19  $16.38  $15.60  $15.79  138428495
3        1    AA  1/28/2011  $15.87  $16.63  $15.82  $16.13  151379173
4        1    AA   2/4/2011  $16.18  $17.39  $16.18  $17.14  154387761

   percent_change_price  percent_change_volume_over_last_wk  \
0               3.79267                                 NaN
1              -4.42849                            1.380223
2              -2.47066                          -43.024959
3               1.63831                            9.355500
4               5.93325                            1.987452

   previous_weeks_volume next_weeks_open next_weeks_close  \
0                    NaN          $16.71           $15.97
1            239655616.0          $16.19           $15.79
2            242963398.0          $15.87           $16.13
3            138428495.0          $16.18           $17.14
4            151379173.0          $17.33           $17.37

   percent_change_next_weeks_price  days_to_next_dividend  \
0                        -4.428490                     26
1                        -2.470660                     19
2                         1.638310                     12
3                         5.933250                      5
4                         0.230814                     97

   percent_return_next_dividend
0                      0.182704
1                      0.187852
2                      0.189994
3                      0.185989
4                      0.175029

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 750 entries, 0 to 749
Data columns (total 16 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   quarter                             750 non-null    int64
 1   stock                               750 non-null    object
 2   date                                750 non-null    object
 3   open                                750 non-null    object
 4   high                                750 non-null    object
 5   low                                 750 non-null    object
 6   close                               750 non-null    object
 7   volume                              750 non-null    int64
 8   percent_change_price                750 non-null    float64
 9   percent_change_volume_over_last_wk  720 non-null    float64
 10  previous_weeks_volume               720 non-null    float64
 11  next_weeks_open                     750 non-null    object
 12  next_weeks_close                    750 non-null    object
 13  percent_change_next_weeks_price     750 non-null    float64
 14  days_to_next_dividend               750 non-null    int64
 15  percent_return_next_dividend        750 non-null    float64
dtypes: float64(5), int64(3), object(8)
memory usage: 93.9+ KB
None

Description:
           quarter        volume  percent_change_price  \
count  750.000000  7.500000e+02            750.000000
mean     1.520000  1.175478e+08              0.050262
std      0.499933  1.584381e+08              2.517809
min      1.000000  9.718851e+06            -15.422900
25%      1.000000  3.086624e+07             -1.288053
50%      2.000000  5.306088e+07              0.000000
75%      2.000000  1.327218e+08              1.650888
max      2.000000  1.453439e+09              9.882230

       percent_change_volume_over_last_wk  previous_weeks_volume  \
count                          720.000000           7.200000e+02
mean                             5.593627           1.173876e+08
std                             40.543478           1.592322e+08
min                            -61.433175           9.718851e+06
25%                            -19.804284           3.067832e+07
50%                              0.512586           5.294556e+07
75%                             21.800622           1.333230e+08
max                            327.408924           1.453439e+09

       percent_change_next_weeks_price  days_to_next_dividend  \
count                       750.000000             750.000000
mean                          0.238468              52.525333
std                           2.679538              46.335098
min                         -15.422900               0.000000
25%                          -1.222068              24.000000
50%                           0.101193              47.000000
75%                           1.845562              69.000000
max                           9.882230             336.000000

       percent_return_next_dividend
count                    750.000000
mean                       0.691826
std                        0.305482
min                        0.065574
25%                        0.534549
50%                        0.681067
75%                        0.854291
max                        1.564210

These columns have null values:
 ['percent_change_volume_over_last_wk', 'previous_weeks_volume']
These are 30  null rows:
      quarter stock      date     open     high      low    close      volume  \
0          1    AA  1/7/2011   $15.82   $16.72   $15.78   $16.42   239655616
12         1   AXP  1/7/2011   $43.30   $45.60   $43.11   $44.36    45102042
24         1    BA  1/7/2011   $66.15   $70.10   $66.00   $69.38    36258120
36         1   BAC  1/7/2011   $13.85   $14.69   $13.80   $14.25  1453438639
48         1   CAT  1/7/2011   $94.38   $94.81   $92.30   $93.73    24135903
60         1  CSCO  1/7/2011   $20.45   $21.00   $20.38   $20.97   303545878
72         1   CVX  1/7/2011   $91.66   $92.48   $90.27   $91.19    35556288
84         1    DD  1/7/2011   $50.05   $50.54   $49.28   $49.76    27658789
96         1   DIS  1/7/2011   $37.74   $40.00   $37.62   $39.45    72917621
108        1    GE  1/7/2011   $18.49   $18.72   $18.12   $18.43   280146510
120        1    HD  1/7/2011   $35.20   $35.57   $34.18   $34.38    56576860
132        1   HPQ  1/7/2011   $42.22   $45.39   $42.22   $45.09   100020724
144        1   IBM  1/7/2011  $147.21  $148.86  $146.64  $147.93    23492843
156        1  INTC  1/7/2011   $21.01   $21.21   $20.27   $20.66   386719626
168        1   JNJ  1/7/2011   $62.63   $63.54   $62.53   $62.60    57774737
180        1   JPM  1/7/2011   $43.00   $44.95   $42.64   $43.64   234547885
192        1  KRFT  1/7/2011   $31.76   $31.76   $31.14   $31.19    44971770
204        1    KO  1/7/2011   $65.88   $65.88   $62.56   $62.92    59802189
216        1   MCD  1/7/2011   $77.10   $77.59   $73.59   $74.37    85400677
228        1   MMM  1/7/2011   $86.75   $87.90   $85.63   $86.23    16166921
240        1   MRK  1/7/2011   $36.29   $37.35   $35.85   $37.35    72760487
252        1  MSFT  1/7/2011   $28.05   $28.85   $27.77   $28.60   328646154
264        1   PFE  1/7/2011   $17.70   $18.38   $17.62   $18.34   386804789
276        1    PG  1/7/2011   $64.39   $65.08   $64.00   $64.50    52323352
288        1     T  1/7/2011   $29.68   $30.10   $28.66   $28.85   157834347
300        1   TRV  1/7/2011   $56.09   $56.34   $52.88   $53.33    20010115
312        1   UTX  1/7/2011   $79.19   $79.75   $78.40   $79.08    15797841
324        1    VZ  1/7/2011   $36.06   $37.70   $35.41   $35.93   141938064
336        1   WMT  1/7/2011   $54.23   $55.07   $53.76   $54.08    64231179
348        1   XOM  1/7/2011   $73.72   $75.90   $73.64   $75.59   101740933

     percent_change_price  percent_change_volume_over_last_wk  \
0                3.792670                                 NaN
12               2.448040                                 NaN
24               4.882840                                 NaN
36               2.888090                                 NaN
48              -0.688705                                 NaN
60               2.542790                                 NaN
72              -0.512765                                 NaN
84              -0.579421                                 NaN
96               4.531000                                 NaN
108             -0.324500                                 NaN
120             -2.329550                                 NaN
132              6.797730                                 NaN
144              0.489097                                 NaN
156             -1.665870                                 NaN
168             -0.047900                                 NaN
180              1.488370                                 NaN
192             -1.794710                                 NaN
204             -4.493020                                 NaN
216             -3.540860                                 NaN
228             -0.599424                                 NaN
240              2.920910                                 NaN
252              1.960780                                 NaN
264              3.615820                                 NaN
276              0.170834                                 NaN
288             -2.796500                                 NaN
300             -4.920660                                 NaN
312             -0.138906                                 NaN
324             -0.360510                                 NaN
336             -0.276600                                 NaN
348              2.536630                                 NaN

     previous_weeks_volume next_weeks_open next_weeks_close  \
0                      NaN          $16.71           $15.97
12                     NaN          $44.20           $46.25
24                     NaN          $69.42           $70.07
36                     NaN          $14.17           $15.25
48                     NaN          $93.21           $94.01
60                     NaN          $20.94           $21.21
72                     NaN          $90.95           $92.83
84                     NaN          $48.30           $49.80
96                     NaN          $39.01           $39.29
108                    NaN          $18.61           $18.82
120                    NaN          $34.16           $35.89
132                    NaN          $44.86           $46.25
144                    NaN         $147.00          $150.00
156                    NaN          $20.71           $21.08
168                    NaN          $62.29           $62.55
180                    NaN          $43.27           $44.91
192                    NaN          $30.91           $31.34
204                    NaN          $62.70           $63.13
216                    NaN          $74.25           $74.06
228                    NaN          $85.70           $88.10
240                    NaN          $37.26           $34.23
252                    NaN          $28.20           $28.30
264                    NaN          $18.22           $18.34
276                    NaN          $64.40           $65.53
288                    NaN          $28.54           $28.43
300                    NaN          $53.12           $54.63
312                    NaN          $78.27           $79.08
324                    NaN          $36.55           $35.46
336                    NaN          $53.65           $54.81
348                    NaN          $75.13           $77.84

     percent_change_next_weeks_price  days_to_next_dividend  \
0                          -4.428490                     26
12                          4.638010                     89
24                          0.936330                     33
36                          7.621740                     54
48                          0.858277                     11
60                          1.289400                     81
72                          2.067070                     38
84                          3.105590                     35
96                          0.717765                    336
108                         1.128430                     38
120                         5.064400                     60
132                         3.098530                     66
144                         2.040820                     32
156                         1.786580                     27
168                         0.417402                     49
180                         3.790150                     87
192                         1.391140                     81
204                         0.685805                     63
216                        -0.255892                     49
228                         2.800470                     40
240                        -8.132040                     63
252                         0.354610                     39
264                         0.658617                     26
276                         1.754660                     12
288                        -0.385424                     30
300                         2.842620                     60
312                         1.034880                     40
324                        -2.982220                     89
336                         2.162160                     61
348                         3.607080                     52

     percent_return_next_dividend
0                        0.182704
12                       0.405771
24                       0.605362
36                       0.070175
48                       0.469433
60                       0.286123
72                       0.789560
84                       0.823955
96                       1.013940
108                      0.759631
120                      0.727167
132                      0.177423
144                      0.439397
156                      0.871249
168                      0.862620
180                      0.572869
192                      0.929785
204                      0.746980
216                      0.820223
228                      0.637829
240                      1.017400
252                      0.559441
264                      1.090510
276                      0.744186
288                      1.490470
300                      0.675042
312                      0.543753
324                      1.363760
336                      0.684172
348                      0.582088

Unique Values:
quarter : 2 unique values
stock : 30 unique values
date : 25 unique values
open : 722 unique values
high : 713 unique values
low : 711 unique values
close : 711 unique values
volume : 750 unique values
percent_change_price : 745 unique values
percent_change_volume_over_last_wk : 750 unique values
previous_weeks_volume : 750 unique values
next_weeks_open : 720 unique values
next_weeks_close : 715 unique values
percent_change_next_weeks_price : 745 unique values
days_to_next_dividend : 105 unique values
percent_return_next_dividend : 729 unique values
None

In [29]:
#Data Preperation
new_df=DataCleaner(data,date_format='%m/%d/%Y')

These columns have non-numeric data:
 ['stock' 'date' 'open' 'high' 'low' 'close' 'next_weeks_open'
 'next_weeks_close']

This is the new list of converted values:
 [['AA' Timestamp('2011-01-07 00:00:00') 15.82 ... 16.42 16.71 15.97]
 ['AA' Timestamp('2011-01-14 00:00:00') 16.71 ... 15.97 16.19 15.79]
 ['AA' Timestamp('2011-01-21 00:00:00') 16.19 ... 15.79 15.87 16.13]
 ...
 ['XOM' Timestamp('2011-06-10 00:00:00') 80.93 ... 79.78 80.0 79.02]
 ['XOM' Timestamp('2011-06-17 00:00:00') 80.0 ... 79.02 78.65 76.78]
 ['XOM' Timestamp('2011-06-24 00:00:00') 78.65 ... 76.78 76.88 82.01]]

This is the new converted dataframe:
     stock       date   open   high    low  close next_weeks_open  \
0      AA 2011-01-07  15.82  16.72  15.78  16.42           16.71
1      AA 2011-01-14  16.71  16.71  15.64  15.97           16.19
2      AA 2011-01-21  16.19  16.38   15.6  15.79           15.87
3      AA 2011-01-28  15.87  16.63  15.82  16.13           16.18
4      AA 2011-02-04  16.18  17.39  16.18  17.14           17.33
..    ...        ...    ...    ...    ...    ...             ...
745   XOM 2011-05-27  80.22  82.63  80.07  82.63           83.28
746   XOM 2011-06-03  83.28  83.75  80.18  81.18           80.93
747   XOM 2011-06-10  80.93  81.87  79.72  79.78            80.0
748   XOM 2011-06-17   80.0  80.82  78.33  79.02           78.65
749   XOM 2011-06-24  78.65  81.12  76.78  76.78           76.88

    next_weeks_close  quarter     volume  percent_change_price  \
0              15.97        1  239655616               3.79267
1              15.79        1  242963398              -4.42849
2              16.13        1  138428495              -2.47066
3              17.14        1  151379173               1.63831
4              17.37        1  154387761               5.93325
..               ...      ...        ...                   ...
745            81.18        2   68230855               3.00424
746            79.78        2   78616295              -2.52161
747            79.02        2   92380844              -1.42098
748            76.78        2  100521400              -1.22500
749            82.01        2  118679791              -2.37762

     percent_change_volume_over_last_wk  previous_weeks_volume  \
0                                   NaN                    NaN
1                              1.380223            239655616.0
2                            -43.024959            242963398.0
3                              9.355500            138428495.0
4                              1.987452            151379173.0
..                                  ...                    ...
745                          -21.355713             86758820.0
746                           15.221032             68230855.0
747                           17.508519             78616295.0
748                            8.811952             92380844.0
749                           18.064204            100521400.0

     percent_change_next_weeks_price  days_to_next_dividend  \
0                          -4.428490                     26
1                          -2.470660                     19
2                           1.638310                     12
3                           5.933250                      5
4                           0.230814                     97
..                               ...                    ...
745                        -2.521610                     75
746                        -1.420980                     68
747                        -1.225000                     61
748                        -2.377620                     54
749                         6.672740                     47

     percent_return_next_dividend
0                        0.182704
1                        0.187852
2                        0.189994
3                        0.185989
4                        0.175029
..                            ...
745                      0.568801
746                      0.578960
747                      0.589120
748                      0.594786
749                      0.612139

[750 rows x 16 columns]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 750 entries, 0 to 749
Data columns (total 16 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   stock                               750 non-null    object
 1   date                                750 non-null    datetime64[ns]
 2   open                                750 non-null    object
 3   high                                750 non-null    object
 4   low                                 750 non-null    object
 5   close                               750 non-null    object
 6   next_weeks_open                     750 non-null    object
 7   next_weeks_close                    750 non-null    object
 8   quarter                             750 non-null    int64
 9   volume                              750 non-null    int64
 10  percent_change_price                750 non-null    float64
 11  percent_change_volume_over_last_wk  720 non-null    float64
 12  previous_weeks_volume               720 non-null    float64
 13  percent_change_next_weeks_price     750 non-null    float64
 14  days_to_next_dividend               750 non-null    int64
 15  percent_return_next_dividend        750 non-null    float64
dtypes: datetime64[ns](1), float64(5), int64(3), object(7)
memory usage: 93.9+ KB

 None

In [30]:
#sorting by date
new_df=new_df.sort_values(['date'],ascending=True)

In [37]:
#partioning train/test/validate set
x_train,x_test,x_test_final,y_train,y_test,y_test_final=train_validate_split(new_df,
                                                        target_value="close",
                                                        shuffle=False,
                                                        ratio=0.2)